title: Deane McCullough
description: Builder, problem-solver, and lifelong learner.
url: "https://deanem.github.io"
baseurl: ""
markdown: kramdown
permalink: /blog/:year/:month/:day/:title/
plugins:
  - jekyll-feed

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
  - scope:
      path: ""
    values:
      layout: page
